@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme='night'] {
  --p: 204 88% 60%;
  --pf: 204 88% 50%;
  --pc: 204 100% 90%;
  --s: 262 83% 70%;
  --sf: 262 83% 60%;
  --sc: 262 83% 20%;
  --a: 14 100% 65%;
  --af: 14 100% 55%;
  --ac: 14 100% 15%;
  --n: 222 17% 15%;
  --nf: 220 18% 12%;
  --nc: 220 40% 96%;
  --b1: 228 25% 10%;
  --b2: 225 24% 8%;
  --b3: 222 23% 6%;
  --bc: 220 40% 96%;
  --in: 198 93% 60%;
  --su: 158 64% 52%;
  --wa: 43 96% 56%;
  --er: 0 91% 63%;
  color: hsl(var(--bc) / 1);
  background-color: #05060b;
}

body {
  color: hsl(var(--bc) / 1);
  background-color: #05060b;
}
